/* Write your CSS here */
.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  min-width: 400px;
  min-height: 80vh;
  text-align: center;
}
.container img {
  max-width: 100%;
  width: 300px;
}
.search-container {
  padding: 1em;
  width: 100%;
  border: 1px solid #a0a0a085;
  border-radius: 20px;
}
.search-container img {
  width: 20px;
  height: 20px;
}
.search-input-cont {
  display: flex;
  align-items: center;
  gap: 1em;
}
.input-search {
  outline: none;
  border: none;
  font-size: 1.15em;
  width: 100%;
}
